.special-issue {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem 1rem;
}

.special-issue-detail {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem 1rem;
}

.special-issue-detail__back {
  background: none;
  border: 0;
  color: #b1170f;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 1.5rem;
  text-decoration: underline;
}

.special-issue-detail__embed>span {
  display: block;
}

.special-issue-detail__embed>span>div {
  height: 0 !important;
  min-height: 326px;
  padding-top: min(60%, 700px) !important;
  position: relative;
  width: 100%;
}

.special-issue-detail__embed iframe {
  border: 0;
  height: 100% !important;
  left: 0;
  padding-top: 0 !important;
  position: absolute;
  top: 0;
  width: 100% !important;
}

.special-issue-detail__embed>span>iframe {
  min-height: 500px;
  position: relative;
}

.special-issue-detail__buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.25rem;
}