/**
* Ensure all issuu embeds have the correct styling
*/
#latest-issue>div:not(.MuiPaper-root):not(.horizontal-divider-red) {
  position: relative;
  padding-top: max(50%, 326px);
  height: 0;
  width: 100%;
}

.article-headline {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0%;
  color: #af2024;
  border-bottom: 1px solid #000;
  margin-top: 0;
  margin-bottom: 20px;
}

.special-issue {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem 1rem;
}

.special-issue-detail {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: .5rem;
}

.special-issue-detail__back {
  background: none;
  border: 0;
  color: #b1170f;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

/* Adds a CSS arrow dynamically so you don't need to change your HTML */
.special-issue-detail__back::before {
  content: "←Back";
  font-size: 1.5rem;
  transition: transform 0.2s ease;
}

.special-issue-detail__back:hover {
  color: #88120c;
  /* Slightly darker shade on hover */
}

/* Smooth arrow shift on hover */
.special-issue-detail__back:hover::before {
  transform: translateX(-4px);
}

.special-issue-detail__embed>span {
  display: block;
}

.special-issue-detail__embed>span>div {
  height: 0 !important;
  min-height: 326px;
  padding-top: min(60%, 700px) !important;
  position: relative;
  width: 100%;
}

.special-issue-detail__embed iframe {
  border: 0;
  height: 100% !important;
  left: 0;
  padding-top: 0 !important;
  position: absolute;
  top: 0;
  width: 100% !important;
}

.special-issue-detail__embed>span>iframe {
  min-height: 500px;
  position: relative;
}

.special-issue-detail__buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.25rem;
}

#modal-embed-wrapper>div {
  padding-top: min(60vh, 500px) !important;
}

.MuiBox-root #modal-embed-wrapper {
  height: 60vh;
}

.MuiBox-root #modal-embed-wrapper>div {
  height: 100%;
}

.MuiBox-root #modal-embed-wrapper iframe {
  position: relative !important;
}

.MuiBox-root #modal-embed-wrapper>span>div {
  padding-top: 0 !important;
  height: 100% !important;
}

#modal-buttons-wrapper {
  display: flex;
}

.MuiBox-root {
  overflow: auto;
}

.MuiAccordion-root {
  background: #d9d9d933;
}