body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal-embed-wrapper > div {
  padding-top: min(60vh, 500px) !important;
}

.MuiBox-root #modal-embed-wrapper {
  height: 60vh;
}

.MuiBox-root #modal-embed-wrapper > div {
  height: 100%;
}

.MuiBox-root #modal-embed-wrapper iframe {
  position: relative !important;
}

.MuiBox-root #modal-embed-wrapper > span > div {
  padding-top: 0 !important;
  height: 100% !important;
}

#modal-buttons-wrapper {
  display: flex;
}

.MuiBox-root {
  overflow: auto;
}

